<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./assets/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="./assets/css/style.css">
    <title>Groupie Tracker</title>
</head>
<body>
    <div id="dots-flow">

    </div>
    <section id="loading">
        {{$data := .}}
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <form action="/" method="POST">
                <label for="creation-date-min" id="creation-date-min-label">Creation date (min): </label>
                <input onchange="creationDateMin()" type="range" name="creation-date-min" id="creation-date-min" min="1900" max="2022" value="1900">
                <label for="creation-date-max" id="creation-date-max-label">Creation date (max): </label>
                <input onchange="creationDateMax()" type="range" name="creation-date-max" id="creation-date-max" min="1900" max="2022" value="2022">
                <label for="first-album-date-min" id="first-album-date-min-label">First album date (min): </label>
                <input onchange="firstAlbumDateMin()" type="range" name="first-album-date-min" id="first-album-date-min" min="1900" max="2022" value="1900">
                <label for="first-album-date-max" id="first-album-date-max-label">First album date (max): </label>
                <input onchange="firstAlbumDateMax()" type="range" name="first-album-date-max" id="first-album-date-max" min="1900" max="2022" value="2022">
                <p>Members:</p>
                <div>
                    <label for="one-member">1</label>
                    <input type="checkbox" name="one-member" id="one-member">
                    <label for="two-members">2</label>
                    <input type="checkbox" name="two-members" id="two-members">
                    <label for="three-members">3</label>
                    <input type="checkbox" name="three-members" id="three-members">
                    <label for="four-members">4</label>
                    <input type="checkbox" name="four-members" id="four-members">
                    <label for="five-members">5</label>
                    <input type="checkbox" name="five-members" id="five-members">
                    <label for="six-members">6</label>
                    <input type="checkbox" name="six-members" id="six-members">
                    <label for="seven-members">7</label>
                    <input type="checkbox" name="seven-members" id="seven-members">
                </div>
                <label for="location">Locations of concerts:</label>
                <select name="location" id="location">
                    <option disabled selected>-- Selected a location --</option>
                    {{ range $data.Locations.Index }}
                        {{ range .Locations}}
                        <option value="{{.}}">{{.}}</option>
                        {{ end }}
                    {{ end}}
                </select>
                <input type="submit" value="FILTER">
            </form>
          </div>
          
    
        <main>
            <!-- Division de recherche -->
            <div class="search-div">
                <!-- Titre de la page -->
                <a href=""><h1>API Groupie Tracker</h1></a>
                <!-- Formulaire de recherche -->
                <form action="/" method="POST">
                    <!-- Bouton de recherche -->
                    <input type="search" name="search" id="search" placeholder="Search.." autofocus autocomplete="off">
                </form>
                <!-- Filtre de recherche -->
                <span style="cursor:pointer;" onclick="openNav()"><button class="filter-btn">FILTER</button></span>
            </div>
            <!-- Affichage des cards -->
            <div class="cards">
                <!-- Récupération de la card -->
                {{ range $k, $v := .Artists }}
                <div class="card">
                    <img src={{ $v.Image}} alt={{ $v.Name}}>
                    <div class="info-card">
                        <a href="#popup{{ $k }}">
                            <h4>{{ $v.Name}}</h4>
                            {{ range $v.Members }}
                            <p class="members">- {{ . }}</p>
                            {{ end }}
                        </a>    
                    </div>
                    <div id="popup{{ $k }}" class="overlay">
                        <div class="popup">
                            <a class="close" href="#">&times;</a>
                            <div class="content">
                                <div>
                                    <h2>{{ $v.Name}}</h2>
                                    <h3>Members:</h3>
                                    <p>
                                    {{ range $v.Members }}
                                        <p>- {{ . }}</p>
                                    {{ end }}
                                    </p>
                                    <p>Creation date: {{ $v.CreationDate}}</p>
                                    <p>First album: {{ $v.FirstAlbum}}</p>
                                    <h2>Concert:</h2>
                                    <p>{{index $data.Relations $k}}</p>
                                </div>
                                <div>
                                    <iframe width='600px' height='600px' src="https://api.mapbox.com/styles/v1/ninjawill543/cld4bwm4c000h01tbd9cr3hun/static/pin-l-music+dd380f(-79.3896838690365,35.5568849207634),pin-l-music+dd380f(-83.2572560296474,32.3305706594431),pin-l-music+dd380f(-118.242766,34.053691),pin-l-music+dd380f(139.645796,35.86164),pin-l-music+dd380f(135.501454,34.693757),pin-l-music+dd380f(136.899844,35.185105),pin-l-music+dd380f(174.8148,-36.9111),pin-l-music+dd380f(170.503575,-45.874098)/20,0,0/600x600?access_token=pk.eyJ1IjoibmluamF3aWxsNTQzIiwiYSI6ImNsZDRidWdrNjBvbDczcW9jajU5c3UxdXAifQ._jM-ztlL3-V9_0WjlFB01A" title="Outdoors" style="border:none;"></iframe>
                                </div>
                            </div>
                        </div>
                     </div>
                </div>
                {{end}}
            </div>
        </main>
        <footer>
            <!-- Affichage des noms des membres du groupe -->
            <h2>DIEDERICHS Geoffrey | FATH Maël | HANSON Lucas</h2>
        </footer>
    </section>
    <script src="./assets/index.js"></script>
</body>
</html>